html, body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board {
    display: grid;
    grid-template-columns:repeat(10, minmax(0, 1fr));
    height: 50vh;
    width: 50vh;
}

.ship {
    background-color: green;
}

.miss {
    background-color: dimgray;
}

.hit {
    background-color: crimson;
}

.sank {
    background-color: red;
}

#setup-grid-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#setup-grid {
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-template-rows: repeat(10, minmax(0, 1fr));;
    width: 300px;
    height: 300px;
}

.setup-square {
    border: solid greenyellow;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}

.computer-board-square, .player-board-square {
    border: 1px solid greenyellow;
    position: relative;
}

.computer-board-square:hover, .setup-square:hover {
    outline: 4px solid hsl(84, 100%, 50%);
    z-index: 1;
}

.hidden {
    visibility: hidden;
}

.github-link {
    width: 1rem;
    margin-left: 5px;
}